* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    min-height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1128px;
    margin: 0 auto;
    gap: 24px;
    padding: 24px 0 24px 0;
}

.gallery-image {
    width: 360px;
    height: 200px;
    transition: all 300ms;
}

.gallery-image:hover {
    transform: scale(1.03);
    box-shadow: 6px 6px 8px #a8a8a8, -6px -6px 8px #ffffff;
}

.gallery-item {}

.gallery-link {}